@import './constants';
@import './placeholders';


@mixin font-h1-bold {
    @extend %font-display;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

@mixin font-h2-semibold {
    @extend %font-display;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

@mixin font-h3-bold {
    @extend %font-display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

@mixin font-body-regular {
    @extend %font-display;
    font-size: 18px;
    font-style: normal;

    font-weight: 400;
    line-height: 25px;
}




